EXPO_PUBLIC_GOOGLE_CLIENT_ID=SEU_WEB_CLIENT_ID.apps.googleusercontent.com
EXPO_PUBLIC_GOOGLE_CLIENT_SECRET=SEU_CLIENT_SECRET
EXPO_PUBLIC_ANDROID_CLIENT_ID=SEU_ANDROID_CLIENT_ID.apps.googleusercontent.com
